---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About ➡️ Me"
	description="About me"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		My name is Abrar, and I'm a Honours Computer Science student @ Wilfrid Laurier University in my 2B term. I'm based out of Waterloo, Canada, but open to opportunities worldwide. Writing code doesn't even scratch the surface in my passion for CS. I don't just write it, but design, review, roadmap, conversate, iterate software as well. 
	</p>

	<p>
		Apart from tech, I dabble in fitness, geography, and watch documentaries. Outside, I play soccer, basketball, badminton, and swim. You can catch me at the <a href="" target="_blank">Solarium</a> or the <a href="https://shorturl.at/gptKM" target="_blank">Mozy's</a> ordering a shawarma poutine.
	</p>

	<p>
		<h5>Favorites:</h5>
		Books: Spenditude, Deep Work, Atomic Habits.
		<br>
		Juices/syrups: Mango, Rooh Afza, Chocolate.  
		<br>
		Sneakers: New Balance 990 series.
		<br>
		VS Code themes: One Dark Pack, Tokyo Night, Github Pack.
		<br>
		Coding phrase: LGTM (looks good to me).
	</p>
	<p>
		<h5>Experience</h5>
		<ul>
			<li>Frontend Developer Intern @ CR8T Studio | <em>Jun 2023 - Aug 2023</em></li>
			<li>Web Developer Intern @ Ontario Virtualy Reality Association (OVRA) | <em>Nov 2022 - Feb 2023</em></li>
		</ul>
	</p>
	<p>
		<h5>Projects</h5>
		<ul>
			<li>Fivepository</li>
			<li>Tech newsletter</li>
			<li><a href="https://devpost.com/software/rescuenet" target="_blank">RescueNet</a></li>
			<li><a href="https://speakspend.netlify.app/" target="_blank">SpeakSpend</a></li>
			<li><a href="https://devpost.com/software/laurier-student-study-hub" target="_blank">Laurier Student Study Hub</a></li>
			<li><a href="https://globoweather.netlify.app/" target="_blank">Globoweather</a></li>
		</ul>
	</p>
	<p>
		<h5>Certifications</h5>
		<ul>
			<li><a href="https://app.hubspot.com/academy/achievements/khbhsw1g/en/1/abrar-murad/seo" target="_blank">Hubspot SEO Certified</a></li>
		</ul>
	</p>

	<blockquote>
		<p>
			<em>Want to write?</em> Ping my email @ <a href="mailto:abrarmurad.am@gmail.com">abrarmurad.am@gmail.com</a>.
			<br>
			<em>Open to a coffee chat?</em>
			<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
			<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
			<a href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/abrarmurad/30min'});return false;">Let's hop on a call</a>.
			<br>
			<em>Explore more - </em> <a href="https://www.abrarmurad416.github.io">Link to my portfolio</a>.
			<br>
			<em>Reading - </em><a href="/booklist.txt" target="_blank">Booklist</a>
		</p>
	</blockquote>
</Layout>
