---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🏙️ Welcome to the blog</h1>
			<p>
				Glad to see you here. This is where I spout out my latest rabbit hole adventure or my deep-dive
				topics on a particular niche. Apart from that, I share some opinion pieces.
			</p>
			<p>I started this blog to keep a record of things I've been up to. Google sheets isn't enough.</p>
			<small>Blog template available on <a href="https://vercel.com/templates/astro/astro-blog" target="_blank">Vercel</a> and shared by <a href="https://astro-template-blog.vercel.app/" target="_blank">Astro</a></small>
			<br>	
			<small><em>Blog name inspired from a16z</em></small>
		</main>
		<Footer />
	</body>
</html>
