---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Abrar Murad. All rights reserved.
	<div class="social-links">
		<a href="https://www.linkedin.com/in/abrar-murad/" target="_blank" style="text-decoration: none;">
			<span class="sr-only">Connect on LinkedIn</span>
			<svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
				<path
				fill="currentColor"
				d="M21.35,0H2.65C1.2,0,0,1.2,0,2.65V21.35C0,22.8,1.2,24,2.65,24H21.35C22.8,24,24,22.8,24,21.35V2.65C24,1.2,22.8,0,21.35,0z M7.48,20.07H4.22V9.63H7.48V20.07zM5.85,8.75H5.84c-1.5,0-2.43-1.05-2.43-2.38c0-1.37,0.94-2.38,2.4-2.38c1.53,0,2.43,1.01,2.45,2.38 C8.27,7.7,7.37,8.75,5.85,8.75z M20.07,20.07h-3.25v-5.37c0-1.28-0.46-2.15-1.62-2.15c-0.88,0-1.41,0.59-1.65,1.16 c-0.09,0.21-0.09,0.5-0.09,0.79v5.57H9.89s0.04-8.53,0-9.38h3.25v1.33c0.44-0.68,1.24-1.64,3.03-1.64 c2.22,0,3.89,1.44,3.89,4.53V20.07z"></path>
			</svg>
		</a>
		<a href="https://github.com/abrarmurad416" target="_blank">
			<span class="sr-only">Go to Astro's GitHub repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
